@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container {
    @apply mx-auto max-w-[1920px] px-2 md:px-4 lg:px-6;
  }

  h1,
  .as-h1 {
    @apply text-[4.236rem]  md:text-[6.854rem] lg:text-[max(6.854rem,13vw)];
  }
  h2,
  .as-h2 {
    @apply text-[2.618rem]  md:text-[4.236rem] lg:text-[max(4.236rem,6vw)];
  }
  h3,
  .as-h3 {
    @apply text-[1.618rem] md:text-[2.618rem] lg:text-[max(2.618rem,3vw)];
  }
  h4,
  .as-h4 {
    @apply text-[1.2rem] leading-tight md:text-[1.618rem] lg:text-[max(1.618rem,1.5vw)];
  }
  h1,
  .as-h1,
  h2,
  .as-h2,
  h3,
  .as-h3 {
    @apply font-medium leading-[.85] tracking-tighter;
  }

  p,
  .as-body {
    @apply text-[1rem] md:text-[1.125rem] lg:text-[max(1.125rem,1.2vw)];
  }
  small,
  .as-small {
    @apply text-[0.875rem] lg:text-[1rem];
  }
  p,
  .as-body,
  small,
  .as-small {
    @apply leading-[1.6] tracking-normal;
  }
}
